# Arquivos de compilação e diretórios
bin/
obj/
.vs/

# Arquivos de configuração locais
.vscode/
.idea/


# Arquivos temporários
*.tmp
*.bak
/globo-clima-front/obj/
/globo-clima-front/bin
/.vagrant
/.vs
/.vs